{% extends 'restaurant/header.html' %}
{% block content %}
<div class="container-fluid" id='restaurantserch'>
    <div class='col-lg-12 jumbotron'>
  
    <h2>搜尋：</h2>
        <form method="get" action="">
        <input type="text" name="q">
        <button type="submit" onclick = "location.href = '#restaurant-wrapper';">搜尋</button>
        </form>
      
    </div>

    <div class='col-lg-12 jumbotron'>     
       {% if query %}
        <h3>搜尋結果:</h3>
        
 
            {% for result in page.object_list %}
             <div class="container-fluid" id='restaurant-wrapper'>
                <p>

                        <p>餐廳:{{ result.object.name }}</p>
                 
                        <p>地址:{{result.object.address}}</p>
                   
                        <p>電話:{{result.object.phone_number}}</p>
                 
                        <p>營業時間:{{result.object.opentime}}</p>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% endif %}  
            </div>
    </div> 
 </div>       
</form>
{% endblock %}
